name: CI/CD - Build and Push Docker Image

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push: # اسم job رو بهتر کردم
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      # --- مرحله جدید ۱: لاگین به داکر هاب ---
      - name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}

      # --- مرحله جدید ۲: ساختن و پوش کردن ایمیج ---
      - name: Build and push the Docker image
        uses: docker/build-push-action@v5
        with:
            
          context: . # بهش می‌گه Dockerfile در همین پوشه است
          push: true # می‌گه که بعد از ساختن، پوش کن
          tags: <cheginisoroush>/poll-app-v2:latest # ایمیج رو با این اسم تگ کن